* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  
  font-family: 'Courier New', Courier, monospace;

  transition: all 0.2s;
}

button {
  padding: 7px;
  margin-top: 26px;

  border: 1px solid gold;
  background: none;

  font-family: 'Courier New', Courier, monospace;
  font-size: larger;

  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
}

h1 {
  display: flex;
  align-items: center;
}

h1 span {
  margin-bottom: auto;
  margin-right: 13px;

  font-size: large;

  transform: rotate(-25deg);
  transition: all 0.15s;
}

.shake:hover {
  animation: Shake 0.5s infinite;
}

strong {
  position: fixed;
  display: flex;
  align-items: center;

  bottom: 20px;

  font-weight: normal;
  font-size: large;
}

strong a {
  display: flex;
  align-items: center;

  margin-left: 7px;

  font-weight: bold;
  font-style: italic;
}

strong a img {
  margin-right: 3px;

  border-radius: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes Update {
  0% {
    transform: scale(1) rotate(-25deg);
  }
  
  35% {
    transform: scale(3) rotate(-25deg);
  }
  
  100% {
    transform: scale(1) rotate(-25deg);
  }
}

@keyframes Shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}